{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="frank1in-blog-header">
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto">
            <h2 align="center">About</h2>
          </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto ">
              <div class="markdown-body">
                  <hr />
                  <p>{{ blog.html_content|safe }}</p>
              </div>
          </div>
        </div>
    </article>
    <hr>
{% endblock %}
