{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="frank1in-blog-header">
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto">
            <div class="frank1in-blog-title markdown-body">
              <p class="frank1in-title-name">{{ blog.name }}</p>
                <span class="frank1in-title-date"><a href="#">{{ blog.user_name }}</a> 发表于 {{ blog.created_at|datetime }}</span>
            </div>
          </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto ">
              <div class="markdown-body">
                  <hr />
                  <p>{{ blog.html_content|safe }}</p>
              </div>
              <hr />
              <p>本站使用Disqus评论系统，国内用户可能需要科学上网才能访问</p>
              <hr />
              <div id="disqus_thread"></div>
              <script>
                  /*
                  var disqus_config = function () {
                      this.page.url =
                      this.page.identifier =
                  };
                  */
                  (function () {
                      var d = document, s = d.createElement('script');
                      s.src = 'https://frank1in.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                  by Disqus.</a></noscript>
          </div>
        </div>
    </article>
    <hr>
{% endblock %}
