{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-lg-12 col-md-12 mx-auto">
    {% for blog in blogs %}
    <div class="post-preview">
      <a href="/blog/{{ blog.id }}">
        <h2 class="post-title">
          {{ blog.name }}
        </h2>
      </a>
      <h3 class="post-subtitle markdown-body">
        {{ blog.summary }}
      </h3>

      <p class="post-meta">
        {{ blog.user_name }} 发表于 {{ blog.created_at|datetime}}
      </p>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>


{% endblock %}


