{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}

    <!-- Page Header -->
{% if blog.bg_image %}
    <header class="masthead" style="background-image: url('{{ blog.bg_image }}')">
{% else %}
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
{% endif %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ blog.name }}</h1>
              <span class="meta">{{ blog.user_name }} 发表于 {{ blog.created_at|datetime }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto ">
              <div class="markdown-body">
              <p>{{ blog.html_content|safe }}</p>
              </div>
          </div>
        </div>
      </div>
    </article>

    <hr>
{% endblock %}
