{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}

    <!-- Page Header -->
    <header class="frank1in-blog-header">
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto">
            <div class="frank1in-blog-title markdown-body">
              <p class="frank1in-title-name">{{ blog.name }}</p>
                <span class="frank1in-title-date"><a href="#">{{ blog.user_name }}</a> 发表于 {{ blog.created_at|datetime }}</span>
            </div>
          </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 mx-auto ">
              <div class="markdown-body">
                  <hr />
                  <p>{{ blog.html_content|safe }}</p>
              </div>
          </div>
        </div>
    </article>

    <hr>
{% endblock %}
