{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
{% endblock %}

{% block content %}

<div class="row" style="padding-left: 12px;">
  <div class="col-sm-12 col-lg-12 col-md-12 mx-auto">
    {% for blog in blogs %}
    <h2>
      <a href="/blog/{{ blog.id }}" class="frank1in-home-title-name">
        {{ blog.name }}
      </a>
    </h2>
    <blockquote>
      &nbsp;&nbsp;&nbsp;&nbsp;{{ blog.summary }}
    </blockquote>
    <p>
      <span class="frank1in-title-meta"  style="float: none;">{{ blog.user_name }} 发表于 {{ blog.created_at|datetime}}</span>
      <span class="frank1in-title-meta"  style="float: none;"><i class="glyphicon glyphicon-eye-open"></i> {{ blog.view_count }} 次阅读</span>
    </p>
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
