<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录 - Awesome Python Webapp</title>
    <script>

$(function() {
    var vmAuth = new Vue({
        el: '#vm',
        data: {
            email: '',
            passwd: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var
                    $form = $('#vm'),
                    email = this.email.trim().toLowerCase(),
                    data = {
                        email: email,
                        passwd: this.passwd==='' ? '' : CryptoJS.SHA1(email + ':' + this.passwd).toString()
                    };
                $form.postJSON('/api/authenticate', data, function(err, result) {
                    if (! err) {
                        location.assign('/');
                    }
                });
            }
        }
    });
});
    </script>
</head>
<body>
<form id="vm" v-on:submit="submit">
    <input v-model="email" name="email" type="text" placeholder="电子邮件" maxlength="50">
    <input v-model="passwd" name="passwd" type="password" placeholder="口令" maxlength="50">
    <button type="submit">登录</button>
</form>
</body>
</html>
